.post {
    margin: 0 auto;
    margin-top: 30px;
    max-width: 850px;
}

a {
    //color: rgb(248, 99, 213);
    color: rgb(99, 146, 248);
    text-decoration: none;
}

///---------------------------------------------------------------
img {
    width:150px;
    height:10px;
 }