	<head>
		<meta charset="utf-8">
		<meta name="viewport" width="device-width, initial-scale=1.0">
		<meta name="description" content="{{ page.description }}">
		<meta name="author" content="keenanadams">

		<!-- favicon -->
		<link rel="shortcut icon" href="/assets/logo_favi.png">

		<title>{{ page.title }}</title>

		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">

		<!-- google tag manager -->
		{% include gtm.html %}

		<!-- seo -->
		{% seo %}
	</head>
