main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-gap: 2rem;

    .card {
        img {
            width: 100%;
        }

        p {
            margin-top: 1rem;
            margin-bottom: 0rem;
        }
    }
}

.videowrapper {
    position: relative; 
    padding-bottom: 56.25%;
    padding-top: 1rem;
    height: 0px;
}

.videowrapper iframe {
    position: absolute; 
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}