.footer {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 0.8fr;
    margin: 0 auto;
    font-size: 0.8rem;
    margin-top: 2.5em;
    min-height: 15em;
}

.links {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(3rem, 1fr));
    grid-gap: 1rem;
    width: 12rem; 
    vertical-align: middle; 
    text-align: center;
    justify-self: center;
    margin-top: 5em;
    
    a{
        text-decoration: none;
        color: #2b2b2b;
        font-weight: bold;
    }
}

.nannou_logo {
    object-fit: absolute;
    justify-self: center;
    margin-top: 2em;
}

.copyright {
    vertical-align: middle; 
    text-align: center; 
}

/* condition for screen size minimum of 700px */
@media (max-width:895px) {
    .footer {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 0.2fr;
        margin: 0 auto;
        font-size: 0.8rem;
        margin-top: 1em;
        min-height: 23em;
        max-height: 23em;
    }
}
